.footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.footer-row {
    float: left;
 }

.footer-col {
    float: left;
    justify-content: left; 
}

.foot-list {
    justify-content: left;
}